<%= content_tag "li", data: {sort_path: "#{sort_animal_path(animal)}"}, class: "ui-state-default" do %>
	<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
	    <%= animal.name %>
	    <%= link_to 'Show', animal, :class => 'person-edit' %> 
	    <%= link_to 'Edit', edit_animal_path(animal), :class => 'person-edit' %> 
	    <%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'person-edit' %> 
	</span>
<% end %>
